os
streamlit
pandas
langchain
langchain_community
langchain_memory
langchain_embeddings
langchain_chains
langchain_community.vectorstores
langchain_text_splitter
langchain_core
streamlit==1.30.0
sentence-transformers
faiss
